
.aboutuscard {
    width: 100%;
    padding-top: 200px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactusinfo {

    li{
        list-style: none;
    }

    p {
        font-size: 23px;
    }



    h2 {

        font-size: 60px;
        max-width: 500px;

    }

}








.aboutusimg {


    img {
        width: 100%;
    }
}