.aboutthemuseum {
    display: flex;

    padding-top: 200px;
    justify-content: space-between;

    .abouthemuseumtxt {
        max-width: 900px;

        h2{
            font-size: 60px;
            text-transform: uppercase;
        }

        p{
            padding-top: 20px;
            font-size: 22px;
            font-weight: 400;
        }
        .aboutthemuseumlink {
            padding-top: 20px;
            a {
                
                color: black;

            }
            
        }
    }
}

.impressivecard {


    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.impressivetxt {
    
    h2{
        text-transform: uppercase;
        text-align: center;
        max-width: 1200px;
        font-size: 50px;
        margin: 0 auto;
    }

    p{
        padding-top: 40px;
        padding-bottom: 80px;

        text-align: center;
        font-size: 42px;
        font-weight: 400;
        max-width: 1200px;

    }
}

.impressiveimg01 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 80px;
}

.impressiveimg02 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.auniqueplacetxt {
    padding: 80px 0px;
    h2{
        text-transform: uppercase;
        font-size: 50px;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {

    .aboutthemuseum {
        display: flex;
    
        padding-top: 100px;
        flex-direction: column;
    
        .abouthemuseumtxt {
            max-width: 900px;
    
            h2{
                font-size: 36px;
            }
    
            p{
                font-size: 20px;
            }
            .aboutthemuseumlink {
                padding-bottom: 20px;
                
            }
        }
    }
    
    .impressivecard {
    
    
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    
    .impressivetxt {
        
        h2{
            max-width: 1200px;
            font-size: 30px;
            
        }
    
        p{
            padding-top: 40px;
            padding-bottom: 80px;
    
            font-size: 24px;
            max-width: 1200px;
    
        }
    }
    
    .impressiveimg01 {
        flex-direction: column;
        padding-bottom: initial;
    }
    
    .impressiveimg02 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .auniqueplacetxt {
        padding: 30px 0px;
        h2{
            font-size: 30px;
        }
    }

    .getintouchheader {
        h2 {
            font-size: 30px;
        }
    }









}