
.aboutuscard {
    width: 100%;
    padding-top: 200px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactusinfo {

    li{
        list-style: none;
    }

    p {
        font-size: 23px;
    }



    h2 {

        font-size: 60px;
        max-width: 500px;

    }

}

.aboutusimg {


    img {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {

    .aboutuscard {
        padding-top: 100px;
        
    
        display: flex;
        flex-direction: column;
    }

    .contactusinfo {

        li{
            list-style: none;
        }
    
        p {
            font-size: 20px;
        }
    
    
    
        h2 {

            padding: 10px 0px;
    
            font-size: 36px;
    
        }
    
    }

    .aboutusimg {
        padding-top: 20px;


        img {
            width: 100%;
        }
    }

}