* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.max-content-width {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.hidden {
    max-width: 0%!important;
    overflow: hidden;
}