.weddingcard {
    display: flex;
    padding: 0px 100px 0px 100px;
    padding-top: 200px;


}

#weddingpara {
    font-size: 23px;
    font-weight: lighter;
    text-transform: uppercase;
    
}

.weddingtxt {
    padding: 0px;

    h2 {
        color: black;
        font-size: 52px;
        text-transform: uppercase;
        padding: 20px 0px 20px 0px;
    }
    p {
        color: black;
        font-size: 22px;
        font-weight: lighter;
    }
    .weddinglinkread {
        color: black;
        padding-top: 15px;

        a {
            color: black;
            text-transform: uppercase;
        }
    }
}

.weddingimg {
    padding: 0%;
    img {
        width: 100%;
    }
}

.breathtakingcard {

    padding: 0px 100px 0px 100px;
    padding-top: 200px;

}

.breathtakingimg {

    img {
        width: 100%;
    }
}

.brathtakingheadertxt {

    h2 {
        font-size: 60px;
        text-transform: uppercase;
    }
}