.exhibitionpageimg {
    width: 100%;
    position: relative;
    img {
        display: block;
        width: 100%;

    }
    // height: 1057px;
    // background-image: url('/img/Group 25.png');
}

.firstimgtxt {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    color: white;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

    h2 {
        font-size: 44px;
        margin-bottom: 26px;
        text-align: center;
        text-transform: uppercase;
    }
    p{
        font-size: 22px;
        margin-bottom: 27px;
        max-width: 750px;
        text-align: center;
    }
    .firstlinkread {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
        width: 100%;
        a{
            font-size: 21px;
            font-weight: bold;
            text-transform: uppercase;
            
            color: white;
            
        }

    }
    
}



@media screen and (max-width: 992px) {

    .firstimgtxt {

        padding: 0px 10px;

    
        h2 {

            font-size: 24px;

        }
        p{

            font-size: 14px;

        }
        .firstlinkread {

            justify-content: space-evenly;

            a{
                font-size: 14px;

            }
    
        }
        
    }

}