.hero {
    margin-top: 150px;

    &-text {
        width: 70%;
    }

    &-subtitle {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 15px;
        display: inline-block;
    }

    &-title {
        font-size: 72px;
        text-transform: uppercase;
        line-height: 66px;
        margin-bottom: 50px;
    }

    &-logo {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &-image {
        width: 100%;
    }
}

.events {
    margin-top: 150px;
    position: relative;
    
    overflow: hidden;

    &-controls {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        pointer-events: none;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 25px;

        background-image: linear-gradient(to right, rgba(0,0,0,0) 90%, #fafafa 100%);

        .arrow {
            width: 50px;
            height: 50px;

            border-radius: 50%;
            background-color: white;

            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 28px;
            line-height: 28px;

            pointer-events: initial;
            cursor: pointer;

            &.arrow-left {
                transform: scale(-1);
            }
        }
    }

    &-title {
        font-size: 48px;
        text-transform: uppercase;
    }

    &-slider {
        margin-top: 75px;

        display: flex;
        gap: 100px;

        transition: all .3s ease;
        right: 0;
        max-width: 100%;
        overflow: visible;

        position: relative;

        .event-item {
            width: calc(100% / 3);
            flex-grow: 0;
            flex-shrink: 0;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            transition: all .3s ease;
            overflow: hidden;
            max-width: calc(100% / 3);

            .event-title {
                font-size: 28px;
                text-align: center;
                text-transform: uppercase;
            }

            .event-date {
                background-color: #333333;
                color: white;
                padding: 5px;
            }
        }
    }

    &-filter {
        margin-top: 75px;
        position: relative;
        z-index: 1;

        display: flex;

        button {
            appearance: none;

            border: 3px solid #333333;
            width: 50%;
            background: none;

            padding: 40px 25px;

            text-transform: uppercase;
            font-size: 18px;
            line-height: 14px;

            cursor: pointer;
            transition: all .3s ease;

            &:nth-of-type(1) {
                border-right-width: 1.5px;
            }
            &:nth-of-type(2) {
                border-left-width: 1.5px;
            }

            &.selected {
                background: black;
                color: white;
            }
        }
    }
}

.events-space {
    margin-top: 150px;

    &-title {
        display: flex;

        .space-title {
            width: 60%;
            text-transform: uppercase;
            font-size: 48px;
        }

        .space-subtitle {
            width: 40%;
            text-transform: uppercase;
            font-size: 38px;
            font-weight: normal;
        }
    }

    img {
        margin-top: 75px;
    }

    &-info {
        margin-top: 75px;

        display: flex;
        justify-content: space-between;

        span,div {
            width: 30%;
            text-transform: uppercase;
            font-size: 28px;
        }

        span {
            font-weight: bold;
        }

        a {
            font-size: 22px;
            margin-top: 25px;
            display: inline-block;
        }
    }
}

.story {
    margin-top: 150px;

    padding-right: 100px;
    padding-bottom: 100px;

    position: relative;
    display: flex;

    &-text {
        width: 100%;
        padding: 150px 50px;
        background-color: #f4f4f4;
        padding-right: 35%;

        h3 {
            font-size: 32px;
            text-transform: uppercase;
        }

        hr {
            width: 10%;
            margin-top: 15px;
            margin-bottom: 30px;
        }

        a {
            display: inline-block;
            margin-top: 25px;
            text-transform: uppercase;
        }
    }

    &-image {
        width: 35%;

        position: absolute;
        bottom: 0;
        right: 10px;
    }
}

.trip-advisor {
    margin-top: 150px;

    h2 {
        font-size: 48px;
        text-transform: uppercase;
    }

    &-rating {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    &-reviews {
        display: flex;
        justify-content: space-between;

        .review-item {
            width: 32%;

            background-color: #f4f4f4;
            padding: 25px;

            .review-user {
                display: flex;
                align-items: center;
                font-size: 12px;
                margin-bottom: 15px;


                img {
                    width: 50px;
                    height: 50px;

                    border-radius: 50%;
                    margin-right: 10px;
                }
            }

            .review-rating {
                display: flex;
                gap: 5px;
                margin-bottom: 15px;

                .green-point {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #04a96c;
                }
            }
        }
    }

    &-read-more {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 15px;

        text-transform: uppercase;
    }
}

.membership {
    display: flex;

    margin-top: 150px;

    &-image {
        width: 65%;
    }

    &-text {
        width: 35%;
        padding: 25px;

        position: relative;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        background: black;
        color: white;

        p {
            text-transform: uppercase;
        }

        a {
            display: inline-block;
            margin-top: 25px;
            color: white;
        }

        .banner {
            position: absolute;
            top: 0;
            right: 0;
            
            background: #6667aa;
            padding: 5px 15px;

            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: 640px) {
    .hero {
        margin-top: 75px;
    
        &-text {
            width: 100%;
        }
    
        &-subtitle {
            font-size: 14px;
            margin-bottom: 5px;
        }
    
        &-title {
            font-size: 36px;
            text-transform: uppercase;
            line-height: 34px;
            margin-bottom: 15px;
        }
    
        &-logo {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
    
        &-image {
            width: 100%;
        }
    }

    .events {
        margin-top: 50px;
    
        &-controls {
            background: none;
    
        }
    
        &-title {
            font-size: 32px;
            text-transform: uppercase;
        }
    
        &-slider {
            margin-top: 15px;
    
            display: flex;
            gap: 0;
    
            transition: all .3s ease;
            right: 0;
            max-width: 100%;
    
            position: relative;
    
            .event-item {
                width: 100%;
                max-width: 100%;
    
                .event-title {
                    font-size: 28px;
                    text-align: center;
                    text-transform: uppercase;
                }
    
                .event-date {
                    background-color: #333333;
                    color: white;
                    padding: 5px;
                }
            }
        }
    
        &-filter {
            margin-top: 25px;

            display: flex;
            flex-direction: column;
    
            button {
                width: 100%;
                padding: 25px;

                &:nth-of-type(1) {
                    border-right-width: 3px;
                }
                &:nth-of-type(2) {
                    border-left-width: 3px;
                }
            }
        }
    }


    .events-space {
        margin-top: 50px;
    
        &-title {
            flex-direction: column;
    
            .space-title {
                width: 100%;
                font-size: 32px;
            }
    
            .space-subtitle {
                width: 100%;
                font-size: 24px;
            }
        }
    
        img {
            margin-top: 15px;
        }
    
        &-info {
            margin-top: 15px;
    
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
            span,div {
                width: 50%;
                text-transform: uppercase;
                font-size: 24px;
                text-align: center;
            }

            div {
                width: 100%;
                margin-top: 25px;
            }
    
            span {
                font-weight: bold;

                display: flex;
                justify-content: center;
                align-items: center;

                padding: 0 10px;
            }
    
            a {
                font-size: 16px;
                margin-top: 25px;
                display: inline-block;
            }
        }
    }

    .story {
        margin-top: 50px;
    
        padding-right: 10px;
        padding-bottom: 0;
    
        position: relative;
        display: flex;
        flex-direction: column;
    
        &-text {
            width: 100%;
            padding: 25px;
    
            h3 {
                font-size: 24px;
            }
    
            hr {
                width: 25%;
                margin-top: 5px;
                margin-bottom: 15px;
            }
    
            a {
                display: inline-block;
                margin-top: 15px;
                text-transform: uppercase;
            }
        }
    
        &-image {
            width: 100%;
    
            position: relative;
            bottom: initial;
            right: initial;
        }
    }

    .trip-advisor {
        margin-top: 50px;
    
        h2 {
            font-size: 32px;
        }

        &-rating {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    
        &-reviews {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 10px;
    
            .review-item {
                width: 100%;
            }
        }
    }


    .membership {
        flex-wrap: wrap;
    
        margin-top: 50px;
    
        &-image {
            width: 100%;
        }
    
        &-text {
            width: 100%;
            padding-top: 50px;
    
            p {
                text-transform: uppercase;
            }
    
            a {
                display: inline-block;
                margin-top: 25px;
                color: white;
            }
    
            .banner {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                
                text-align: center;
            }
        }
    }
}