* {
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: pragmatica-extended, sans-serif;
}

h1 {
  font-size: 69px;
}

p {
  font-size: 13px;
}

h1 {
  font-size: 90px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 100px 10px 100px;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav .inverted a li {
  color: white;
}

.nav .inverted a img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.navagationlogo img {
  width: 315;
  max-height: 40px;
}

#menuol {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 19px;
  text-decoration: none;
  color: black;
}

#menuol ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: black;
}

#menuol a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 0px;
}

#menuol a:hover {
  color: #a9ac00;
}

.firsttxt {
  padding-top: 110px;
  padding-left: 120px;
}

.firsttxt p {
  font-weight: lighter;
  font-size: 35px;
}

.secendtxt {
  padding-top: 20px;
  padding-left: 120px;
  padding-bottom: 30px;
  width: 900px;
}

.secendtxt p {
  font-weight: 300;
}

.heroimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainimg {
  padding-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainimg img {
  width: 90%;
  height: 1032px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.exibitionscard {
  padding-top: 160px;
  padding-left: 120px;
}

.exibitionscard h2 {
  font-size: 69px;
}

.spincardcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 130px;
}

.spincard01 {
  padding-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
}

.cardimg {
  width: 629px;
  height: 608px;
}

.cardtemptxt {
  padding-top: 24px;
  background-color: #fafafa;
}

.cardtemptxt p {
  font-weight: lighter;
  font-size: 24px;
}

.cardheadertxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 44px;
  background-color: #fafafa;
  width: 555px;
}

.cardheadertxt h3 {
  text-align: center;
  font-size: 44px;
}

.carddate {
  margin-top: 30px;
  background-color: black;
  color: white;
}

.eventspacecard {
  padding-top: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
}

.eventheadercard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.eventheader {
  padding-left: 120px;
  width: 800px;
}

.eventheader h2 {
  font-size: 69px;
}

.eventpara {
  width: 700px;
}

.eventpara p {
  font-size: 69px;
  font-weight: lighter;
}

.eventimagecard {
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.eventimagecard img {
  width: 1800px;
  height: 1032px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: black;
  color: white;
}

.trapholtfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  width: 100%;
  font-weight: lighter;
  padding: 80px;
  padding-bottom: 0px;
  color: white;
}

.trapholtfooter h2 {
  color: white;
  text-align: left;
}

.trapholtfooter h3 {
  color: white;
  text-align: left;
}

.trapholtfooter li {
  color: white;
  font-weight: lighter;
  padding-top: 20px;
  list-style: none;
}

.trapholtfooter a {
  color: white;
  font-weight: lighter;
}

.contactinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0px;
}

.contactinfo h3 {
  padding-top: 40px;
}

.pagesinfo {
  padding-top: 68.5px;
  padding-left: 100px;
}

.followusinfo {
  padding-top: 68.5px;
  padding-left: 600px;
}

.footerrights {
  width: 100%;
  padding: 15px 80px 15px 80px;
  text-align: center;
}

.footerrights hr {
  margin: 30px 0px;
}

.exhibitionpageimg {
  width: 100%;
  position: relative;
}

.exhibitionpageimg img {
  display: block;
  width: 100%;
}

.firstimgtxt {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.firstimgtxt h2 {
  font-size: 44px;
  margin-bottom: 26px;
  text-align: center;
}

.firstimgtxt p {
  font-size: 22px;
  margin-bottom: 27px;
  max-width: 750px;
  text-align: center;
}

.firstimgtxt .firstlinkread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 500px;
  width: 100%;
}

.firstimgtxt .firstlinkread a {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 992px) {
  .firstimgtxt h2 {
    font-size: 28px;
  }
  .firstimgtxt p {
    font-size: 14px;
  }
  .firstimgtxt .firstlinkread a {
    font-size: 14px;
  }
}

.aboutuscard {
  width: 100%;
  height: 1000px;
  padding: 110px;
  padding-top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactusinfo {
  padding: 0;
}

.contactusinfo li {
  list-style: none;
}

.contactusinfo p {
  font-size: 23px;
}

.contactusinfo h2 {
  font-size: 60px;
  max-width: 500px;
}

.aboutusimg {
  padding: 0px 100px 0px 100px;
}

.aboutusimg img {
  width: 904px;
  height: 603px;
}

.weddingcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 100px 0px 100px;
  padding-top: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#weddingpara {
  font-size: 23px;
  font-weight: lighter;
  text-transform: uppercase;
}

.weddingtxt {
  padding: 0px;
}

.weddingtxt h2 {
  color: black;
  font-size: 60px;
  text-transform: uppercase;
  padding: 20px 0px 20px 0px;
}

.weddingtxt p {
  color: black;
  font-size: 22px;
  font-weight: lighter;
}

.weddingtxt .weddinglinkread {
  color: black;
  padding-top: 15px;
}

.weddingtxt .weddinglinkread a {
  color: black;
  text-transform: uppercase;
}

.weddingimg {
  padding: 0%;
}

.weddingimg img {
  width: 100%;
}

.breathtakingcard {
  padding: 0px 100px 0px 100px;
  padding-top: 200px;
}

.breathtakingimg img {
  width: 100%;
}

.brathtakingheadertxt {
  padding-top: 80px;
}

.brathtakingheadertxt h2 {
  font-size: 60px;
  text-transform: uppercase;
  max-width: 1100px;
}

.breathtakingtxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 49px;
  padding-top: 30px;
}

.breathtakingtxt p {
  font-size: 49px;
  font-weight: 400;
  text-transform: uppercase;
}

.breathtakingtxt .breathdiv1 {
  max-width: 30%;
}

.breathtakingtxt a {
  font-size: 34px;
  color: black;
}

.getintouchcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 100px 0px 100px;
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.getintouchcard.start {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.getintouchcard img {
  width: 100%;
}

.imagesgetintouch01 {
  width: 33%;
}

.imagesgetintouch02 {
  padding-left: 200px;
  width: 66%;
}

.imagesgetintouch03 {
  padding-right: 200px;
  width: 66%;
}

.imagesgetintouch04 {
  width: 33%;
}

.getintouchheader {
  padding: 0px 100px 0px 100px;
  padding-top: 100px;
}

.getintouchheader h2 {
  font-size: 60px;
  text-transform: uppercase;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.getintouchheader .getintouchlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 150px;
}

.getintouchheader .getintouchlinks a {
  font-size: 17px;
  color: black;
}

.aboutthemuseum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 100px 0px 100px;
  padding-top: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutthemuseum .abouthemuseumtxt {
  max-width: 900px;
}

.aboutthemuseum .abouthemuseumtxt h2 {
  font-size: 60px;
}

.aboutthemuseum .abouthemuseumtxt p {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
}

.aboutthemuseum .abouthemuseumtxt .aboutthemuseumlink {
  padding-top: 20px;
}

.aboutthemuseum .abouthemuseumtxt .aboutthemuseumlink a {
  color: black;
}

.impressivecard {
  padding: 0px 100px 0px 100px;
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.impressivetxt h2 {
  text-transform: uppercase;
  text-align: center;
  max-width: 1200px;
  font-size: 50px;
  margin: 0 auto;
}

.impressivetxt p {
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  max-width: 1200px;
}

.impressiveimg01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 80px;
}

.impressiveimg02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.auniqueplacetxt {
  padding: 80px 0px;
}

.auniqueplacetxt h2 {
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0px;
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */