* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0px;
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.max-content-width {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.hidden {
  max-width: 0% !important;
  overflow: hidden;
}

* {
  font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: pragmatica-extended, sans-serif;
}

h1 {
  font-size: 69px;
}

.hero {
  margin-top: 150px;
}

.hero-text {
  width: 70%;
}

.hero-subtitle {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: inline-block;
}

.hero-title {
  font-size: 72px;
  text-transform: uppercase;
  line-height: 66px;
  margin-bottom: 50px;
}

.hero-logo {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero-image {
  width: 100%;
}

.events {
  margin-top: 150px;
  position: relative;
  overflow: hidden;
}

.events-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, rgba(0, 0, 0, 0)), to(#fafafa));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 90%, #fafafa 100%);
}

.events-controls .arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  pointer-events: initial;
  cursor: pointer;
}

.events-controls .arrow.arrow-left {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.events-title {
  font-size: 48px;
  text-transform: uppercase;
}

.events-slider {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  right: 0;
  max-width: 100%;
  overflow: visible;
  position: relative;
}

.events-slider .event-item {
  width: calc(100% / 3);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;
  max-width: calc(100% / 3);
}

.events-slider .event-item .event-title {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.events-slider .event-item .event-date {
  background-color: #333333;
  color: white;
  padding: 5px;
}

.events-filter {
  margin-top: 75px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events-filter button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 3px solid #333333;
  width: 50%;
  background: none;
  padding: 40px 25px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 14px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.events-filter button:nth-of-type(1) {
  border-right-width: 1.5px;
}

.events-filter button:nth-of-type(2) {
  border-left-width: 1.5px;
}

.events-filter button.selected {
  background: black;
  color: white;
}

.events-space {
  margin-top: 150px;
}

.events-space-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events-space-title .space-title {
  width: 60%;
  text-transform: uppercase;
  font-size: 48px;
}

.events-space-title .space-subtitle {
  width: 40%;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: normal;
}

.events-space img {
  margin-top: 75px;
}

.events-space-info {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events-space-info span, .events-space-info div {
  width: 30%;
  text-transform: uppercase;
  font-size: 28px;
}

.events-space-info span {
  font-weight: bold;
}

.events-space-info a {
  font-size: 22px;
  margin-top: 25px;
  display: inline-block;
}

.story {
  margin-top: 150px;
  padding-right: 100px;
  padding-bottom: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story-text {
  width: 100%;
  padding: 150px 50px;
  background-color: #f4f4f4;
  padding-right: 35%;
}

.story-text h3 {
  font-size: 32px;
  text-transform: uppercase;
}

.story-text hr {
  width: 10%;
  margin-top: 15px;
  margin-bottom: 30px;
}

.story-text a {
  display: inline-block;
  margin-top: 25px;
  text-transform: uppercase;
}

.story-image {
  width: 35%;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.trip-advisor {
  margin-top: 150px;
}

.trip-advisor h2 {
  font-size: 48px;
  text-transform: uppercase;
}

.trip-advisor-rating {
  margin-top: 25px;
  margin-bottom: 25px;
}

.trip-advisor-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trip-advisor-reviews .review-item {
  width: 32%;
  background-color: #f4f4f4;
  padding: 25px;
}

.trip-advisor-reviews .review-item .review-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  margin-bottom: 15px;
}

.trip-advisor-reviews .review-item .review-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.trip-advisor-reviews .review-item .review-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

.trip-advisor-reviews .review-item .review-rating .green-point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #04a96c;
}

.trip-advisor-read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  text-transform: uppercase;
}

.membership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
}

.membership-image {
  width: 65%;
}

.membership-text {
  width: 35%;
  padding: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  color: white;
}

.membership-text p {
  text-transform: uppercase;
}

.membership-text a {
  display: inline-block;
  margin-top: 25px;
  color: white;
}

.membership-text .banner {
  position: absolute;
  top: 0;
  right: 0;
  background: #6667aa;
  padding: 5px 15px;
  text-transform: uppercase;
}

@media screen and (max-width: 640px) {
  .hero {
    margin-top: 75px;
  }
  .hero-text {
    width: 100%;
  }
  .hero-subtitle {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .hero-title {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 34px;
    margin-bottom: 15px;
  }
  .hero-logo {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hero-image {
    width: 100%;
  }
  .events {
    margin-top: 50px;
  }
  .events-controls {
    background: none;
  }
  .events-title {
    font-size: 32px;
    text-transform: uppercase;
  }
  .events-slider {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    right: 0;
    max-width: 100%;
    position: relative;
  }
  .events-slider .event-item {
    width: 100%;
    max-width: 100%;
  }
  .events-slider .event-item .event-title {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
  }
  .events-slider .event-item .event-date {
    background-color: #333333;
    color: white;
    padding: 5px;
  }
  .events-filter {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events-filter button {
    width: 100%;
    padding: 25px;
  }
  .events-filter button:nth-of-type(1) {
    border-right-width: 3px;
  }
  .events-filter button:nth-of-type(2) {
    border-left-width: 3px;
  }
  .events-space {
    margin-top: 50px;
  }
  .events-space-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events-space-title .space-title {
    width: 100%;
    font-size: 32px;
  }
  .events-space-title .space-subtitle {
    width: 100%;
    font-size: 24px;
  }
  .events-space img {
    margin-top: 15px;
  }
  .events-space-info {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .events-space-info span, .events-space-info div {
    width: 50%;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
  }
  .events-space-info div {
    width: 100%;
    margin-top: 25px;
  }
  .events-space-info span {
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
  .events-space-info a {
    font-size: 16px;
    margin-top: 25px;
    display: inline-block;
  }
  .story {
    margin-top: 50px;
    padding-right: 10px;
    padding-bottom: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .story-text {
    width: 100%;
    padding: 25px;
  }
  .story-text h3 {
    font-size: 24px;
  }
  .story-text hr {
    width: 25%;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .story-text a {
    display: inline-block;
    margin-top: 15px;
    text-transform: uppercase;
  }
  .story-image {
    width: 100%;
    position: relative;
    bottom: initial;
    right: initial;
  }
  .trip-advisor {
    margin-top: 50px;
  }
  .trip-advisor h2 {
    font-size: 32px;
  }
  .trip-advisor-rating {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .trip-advisor-reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .trip-advisor-reviews .review-item {
    width: 100%;
  }
  .membership {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
  }
  .membership-image {
    width: 100%;
  }
  .membership-text {
    width: 100%;
    padding-top: 50px;
  }
  .membership-text p {
    text-transform: uppercase;
  }
  .membership-text a {
    display: inline-block;
    margin-top: 25px;
    color: white;
  }
  .membership-text .banner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
  }
}

.exhibitionpageimg {
  width: 100%;
  position: relative;
}

.exhibitionpageimg img {
  display: block;
  width: 100%;
}

.firstimgtxt {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.firstimgtxt h2 {
  font-size: 44px;
  margin-bottom: 26px;
  text-align: center;
  text-transform: uppercase;
}

.firstimgtxt p {
  font-size: 22px;
  margin-bottom: 27px;
  max-width: 750px;
  text-align: center;
}

.firstimgtxt .firstlinkread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 500px;
  width: 100%;
}

.firstimgtxt .firstlinkread a {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 992px) {
  .firstimgtxt {
    padding: 0px 10px;
  }
  .firstimgtxt h2 {
    font-size: 24px;
  }
  .firstimgtxt p {
    font-size: 14px;
  }
  .firstimgtxt .firstlinkread {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .firstimgtxt .firstlinkread a {
    font-size: 14px;
  }
}

.aboutuscard {
  width: 100%;
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactusinfo li {
  list-style: none;
}

.contactusinfo p {
  font-size: 23px;
}

.contactusinfo h2 {
  font-size: 60px;
  max-width: 500px;
}

.aboutusimg img {
  width: 100%;
}

.weddingcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#weddingpara {
  font-size: 23px;
  font-weight: lighter;
  text-transform: uppercase;
}

.weddingtxt {
  padding: 0px;
}

.weddingtxt h2 {
  color: black;
  font-size: 60px;
  text-transform: uppercase;
  padding: 20px 0px 20px 0px;
}

.weddingtxt p {
  color: black;
  font-size: 22px;
  font-weight: lighter;
}

.weddingtxt .weddinglinkread {
  color: black;
  padding-top: 15px;
}

.weddingtxt .weddinglinkread a {
  color: black;
  text-transform: uppercase;
}

.weddingimg {
  padding: 0%;
}

.weddingimg img {
  width: 100%;
}

.breathtakingcard {
  padding-top: 200px;
}

.breathtakingimg img {
  width: 100%;
}

.brathtakingheadertxt {
  padding-top: 80px;
}

.brathtakingheadertxt h2 {
  font-size: 60px;
  text-transform: uppercase;
  max-width: 1100px;
}

.breathtakingtxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 49px;
  padding-top: 30px;
}

.breathtakingtxt p {
  font-size: 49px;
  font-weight: 400;
  text-transform: uppercase;
}

.breathtakingtxt .breathdiv1 {
  max-width: 30%;
}

.breathtakingtxt a {
  font-size: 34px;
  color: black;
}

.getintouchcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.getintouchcard.start {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.getintouchcard img {
  width: 100%;
}

.imagesgetintouch01 {
  width: 33%;
}

.imagesgetintouch02 {
  padding-left: 200px;
  width: 66%;
}

.imagesgetintouch03 {
  padding-right: 200px;
  width: 66%;
}

.imagesgetintouch04 {
  width: 33%;
}

.getintouchheader {
  padding-top: 100px;
}

.getintouchheader h2 {
  font-size: 60px;
  text-transform: uppercase;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.getintouchheader .getintouchlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 150px;
}

.getintouchheader .getintouchlinks a {
  font-size: 17px;
  color: black;
}

@media screen and (max-width: 640px) {
  .weddingcard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #weddingpara {
    font-size: 20px;
  }
  .weddingtxt h2 {
    font-size: 36px;
    padding: 10px 0px 10px 0px;
  }
  .weddingtxt p {
    color: black;
    font-size: 16px;
    font-weight: lighter;
  }
  .weddingtxt .weddinglinkread {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    padding-top: 10px;
    gap: 50px;
    margin-bottom: 10px;
  }
  .breathtakingcard {
    padding-top: 50px;
  }
  .breathtakingimg img {
    width: 100%;
  }
  .brathtakingheadertxt {
    padding-top: 80px;
  }
  .brathtakingheadertxt h2 {
    font-size: 36px;
  }
  .breathtakingtxt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 29px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .breathtakingtxt p {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .breathtakingtxt .breathdiv1 {
    width: 50%;
    max-width: initial;
    text-align: center;
  }
  .breathtakingtxt .breathdiv1:last-of-type {
    width: 100%;
    margin-top: 10px;
  }
  .breathtakingtxt a {
    font-size: 20px;
    color: black;
  }
  .getintouchcard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imagesgetintouch01 {
    width: 100%;
  }
  .imagesgetintouch02 {
    padding-left: initial;
    width: 100%;
  }
  .imagesgetintouch03 {
    padding-right: initial;
    width: 100%;
  }
  .imagesgetintouch04 {
    width: 100%;
  }
  .getintouchheader {
    padding-top: 60px;
  }
  .getintouchheader h2 {
    font-size: 30px;
    text-transform: uppercase;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
  }
  .getintouchheader .getintouchlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 80px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  .getintouchheader .getintouchlinks a {
    font-size: 17px;
    color: black;
  }
}

.aboutthemuseum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutthemuseum .abouthemuseumtxt {
  max-width: 900px;
}

.aboutthemuseum .abouthemuseumtxt h2 {
  font-size: 60px;
  text-transform: uppercase;
}

.aboutthemuseum .abouthemuseumtxt p {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
}

.aboutthemuseum .abouthemuseumtxt .aboutthemuseumlink {
  padding-top: 20px;
}

.aboutthemuseum .abouthemuseumtxt .aboutthemuseumlink a {
  color: black;
}

.impressivecard {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.impressivetxt h2 {
  text-transform: uppercase;
  text-align: center;
  max-width: 1200px;
  font-size: 50px;
  margin: 0 auto;
}

.impressivetxt p {
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  max-width: 1200px;
}

.impressiveimg01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 80px;
}

.impressiveimg02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.auniqueplacetxt {
  padding: 80px 0px;
}

.auniqueplacetxt h2 {
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .aboutthemuseum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutthemuseum .abouthemuseumtxt {
    max-width: 900px;
  }
  .aboutthemuseum .abouthemuseumtxt h2 {
    font-size: 36px;
  }
  .aboutthemuseum .abouthemuseumtxt p {
    font-size: 20px;
  }
  .aboutthemuseum .abouthemuseumtxt .aboutthemuseumlink {
    padding-bottom: 20px;
  }
  .impressivecard {
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .impressivetxt h2 {
    max-width: 1200px;
    font-size: 30px;
  }
  .impressivetxt p {
    padding-top: 40px;
    padding-bottom: 80px;
    font-size: 24px;
    max-width: 1200px;
  }
  .impressiveimg01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: initial;
  }
  .impressiveimg02 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .auniqueplacetxt {
    padding: 30px 0px;
  }
  .auniqueplacetxt h2 {
    font-size: 30px;
  }
  .getintouchheader h2 {
    font-size: 30px;
  }
}

nav {
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav.scrolled {
  background-color: rgba(250, 250, 250, 0.9);
}

nav.scrolled.inverted {
  background-color: rgba(0, 0, 0, 0.9);
}

nav.scrolled .nav-logo {
  max-width: 75px;
}

nav.inverted {
  color: white;
}

nav.inverted .nav-logo {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 120px;
  -webkit-transition: max-width .3s ease;
  transition: max-width .3s ease;
}

.nav .nav-logo img {
  height: auto;
  width: 100%;
}

.nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.nav .nav-items a {
  text-transform: uppercase;
}

.nav .nav-items a.selected {
  font-weight: bold;
}

.nav .nav-hamburger {
  display: none;
}

.mobile-nav {
  background: #c8c8c8;
  color: black;
  position: fixed;
  top: 60px;
  left: 100%;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.mobile-nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-nav .nav-items a {
  font-size: 32px;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 25px;
  border-bottom: 3px solid black;
}

@media screen and (max-width: 640px) {
  .mobile-nav.shown {
    background: #fafafa;
    color: black;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  .mobile-nav.shown a {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: #fafafa;
  }
  .mobile-nav.shown a:hover {
    background: #e1e1e1;
  }
  nav.scrolled .nav-logo {
    max-width: 60px;
  }
  nav.inverted .nav .nav-hamburger .hamburger-bar {
    border-top: 3px solid #fafafa;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav .nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-width: 60px;
  }
  .nav .nav-logo img {
    height: auto;
    width: 100%;
  }
  .nav .nav-items {
    display: none;
  }
  .nav .nav-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .nav .nav-hamburger .hamburger-bar {
    width: 100%;
    border-top: 3px solid black;
  }
}

footer {
  margin-top: 150px;
  background: black;
  color: white;
  padding-top: 75px;
  padding-bottom: 30px;
}

footer.nomargin {
  margin-top: 0;
}

footer h2 {
  text-transform: uppercase;
  margin-bottom: 50px;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 75px;
}

footer .footer-container .footer-column {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

footer .footer-container .footer-column:last-of-type {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 20px;
}

@media screen and (max-width: 640px) {
  footer {
    margin-top: 50px;
  }
  footer.nomargin {
    margin-top: 0;
  }
  footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  footer .footer-container .footer-column {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer-container .footer-column:last-of-type {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */